:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #ffffff;
  --black: #121212;
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

/*--------------------
  XSAlert style
---------------------*/
.xsoverlay { width: 100%; height: 100%; position: fixed; background: rgba(0, 0, 0, 0.8); top: 0;bottom: 0;left: 0;right: 0; }

.xsalert-center { max-width: 32%; height: fit-content; position: fixed;  top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; padding: 1rem; background: var(--white); transition: all 0.4s ease-in; margin: auto; color: var(--black); border-radius: 12px; align-content: space-around;flex-wrap: wrap;align-items: stretch; }
.xsalert-top-left { max-width: 32%; height: fit-content; position: fixed;  top: 0; left: 0; display: flex; justify-content: center; padding: 1rem; background: var(--white); transition: all 0.4s ease-in; margin: auto; color: var(--black); border-radius: 12px; align-content: space-around;flex-wrap: wrap;align-items: stretch; margin-top: 20px;margin-left: 20px;}

.xs-title { width: 100%; font-weight: 800; padding: 10px; margin: auto; text-align: center; font-size: x-large;}

.xs-message { width: 100%; font-weight: 400; padding: 10px; margin: auto; text-align: center; }

/*--------------------
  Buttons
---------------------*/
.xs-ok-btn { cursor: pointer; background: var(--black); border: none; outline: none; font-size: inherit; font-family: inherit; color: var(--white); padding: 10px 10px;border-radius: 6px;margin-right: 4%;min-width: 100px; transition: .3s ease;margin-top: 20px;}
.xs-ok-btn:hover { background: #f1f1f1; color: #121212; }
.xs-cancel-btn { cursor: pointer; background: var(--lightgray); border: none; outline: none; font-size: inherit; font-family: inherit; color: var(--black); padding: 10px 10px; border-radius: 6px; min-width: 100px; margin-top: 20px;}
.xs-cancel-btn:hover { background: #121212; color: #f1f1f1; }

/*--------------------
  Icons
---------------------*/
.xsicon { width: 100%;    text-align: center;}
.xsicon img { width: 80px; }

/*--------------------
  Animations
---------------------*/
.scale-up-center{animation:scale-up-center 0.4s ease both; } @keyframes scale-up-center{ 0%{transform:scale(.5)} 100%{transform:scale(1)} }
.slide-top{animation:slide-top 0.4s ease both; } @keyframes slide-top{0%{transform:translateY(-2000px)}100%{transform:translateY(0px)}}
.slide-bottom{animation:slide-bottom 0.4s ease both}@keyframes slide-bottom{0%{transform:translateY(2000px)}100%{transform:translateY(0px)}}
.jello-vertical{animation:jello-vertical .5s ease both; animation-delay: .5s;} @keyframes jello-vertical{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(.75,1.25,1)}40%{transform:scale3d(1.25,.75,1)}50%{transform:scale3d(.85,1.15,1)}65%{transform:scale3d(1.05,.95,1)}75%{transform:scale3d(.95,1.05,1)}100%{transform:scale3d(1,1,1)}}
.jello-diagonal{animation:jello-diagonal .9s ease both; animation-delay: .5s;} @keyframes jello-diagonal{0%{transform:skew(0deg 0deg)}30%{transform:skew(25deg 25deg)}40%{transform:skew(-15deg,-15deg)}50%{transform:skew(15deg,15deg)}65%{transform:skew(-5deg,-5deg)}75%{transform:skew(5deg,5deg)}100%{transform:skew(0deg 0deg)}}


/*--------------------
  Media Queries
---------------------*/

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

}

/* Tablet Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

}

/* iPhone */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .xsalert-center { max-width: 90%;}

}

/* iPhone Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 

}